<!DOCTYPE html>
<html
<head>
	<meta charset="utf-8">
	<title>Angular-Todo</title>
	<link rel="stylesheet" type="text/css" href="./lib/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body ng-app="TodoApp">
	<nav class="navbar navbar-default" ng-controller="NavCtrl">
	  <div class="container-fluid">
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	          <ul class="nav navbar-nav navbar-right" ng-repeat="thingy in navItems">
	          <!-- as long as "thingy comes before what it coming from your JS" -->
	            <li><a id="new-item" href="#">{{thingy.name}}</a></li>
	          </ul>
		  </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div ng-controller="ItemCtrl">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<button class="col-xs-6 btn btn-success" ng-click="newItem()">New Item</button>
			<button class="col-xs-6 btn btn-info" ng-click="allItems()">All Items</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
		<h1>NG Todo</h1>
		<div ng-show="!showListView">
			<h3>New Todo</h3>
		</div>
		<div ng-show="showListView">
			<input type="text" name="" placeholder="Search for .... " ng-model="searchText">
			<h3>Todo List</h3>
			<div ng-repeat="item in items | filter:{isCompleted:false} | filter: searchText"> <!-- this is to stop it from defaulting to checked -->
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <div class="col-xs-1">
	                    	<input type="checkbox" name="" ng-checked="item.isCompleted"/>
	                    </div>
	                    <div class="col-xs-7">{{item.task}}</div>
	                    <div class="col-xs-1 col-xs-offset-2">{{item.assignedTo}}</div>            
	                    <div class="col-xs-1">
	                    	<button class="btn btn-danger fa fa-trash-o"></button></div>
	                </div>
	            </div>
	        </div>

	        <h3>Completed</h3>
	        <div ng-repeat="item in items | filter:{isCompleted:true}">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <div class="col-xs-1"><input type="checkbox" name="" ng-checked="item.isCompleted"/></div>
	                    <div class="col-xs-7">{{item.task}}</div>
	                    <div class="col-xs-1  col-xs-offset-2">{{item.assignedTo}}</div>            
	                    <div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o"></button></div>
	                </div>
	            </div>
	        </div>






		</div>
	</div>
	<!-- adding the value of "dog scope to the dom" -->
		<!-- {{dog}}
		{{7*7}} -->
<!-- 
		anything in the double curlys will act as javascript on the dom. -->
	</div>




<script type="text/javascript" src="./lib/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="./lib/bower_components/angular/angular.min.js"></script>


<script type="text/javascript" src="./javascripts/app.js"></script>
<script type="text/javascript" src="./javascripts/AppConstants.js"></script>
<script type="text/javascript" src="./javascripts/main.js"></script>
</body>
</html>